.button{
    background-color:#F5F4FA;
    color: var(--title-text-color);
}
.button:hover, 
.button:focus{
    background-color:var(--akcent-color);
    color: #FFFFFF;

}
.projekt .projeck-title{
    color: var(--title-text-color);

}