:root{
    --title-text-color: #212121;
    --text-color:#757575;
    --akcent-color: #2196F3;
    --akcen-color-button:#188CE8;
    --primeri-white-color:#FFFFFF;

}

body{
    background-color: var(--primeri-white-color);
    color: var(--text-color);
}
.list{
    list-style: none;
}

/* site logo */
.logo{
    color:var(--akcent-color);
}
.logo-black{
    color: var(--title-text-color) ;    
}
.logo-white{ color:var(--primeri-white-color);
}


/* site nav */
.menu-nav .link{
    color: var(--title-text-color);
}
.menu-nav .link:hover,
.menu-nav .link:focus{
    color: var(--akcent-color);
}
.menu-nav .link.current{
    color: var(--akcent-color);
}
/* contact section */
.contact-section .link{
    color: var(--title-text-color);
}
.contact-section .link:hover,
.contact-section .link:focus{
    color:var(--akcent-color);
}
/* hero */

.hero .hero-title{
    color: var(--title-text-color);
}
/* button */
.button{
    background-color: var(--akcen-color-button);
    color: var(--primeri-white-color);
}
/* work-section */
.work .work-title{
    color:var(--title-text-color);}

/* section*/

.section-title{
    color: var(--title-text-color);
}

 /* team-section */
.team .team-title{
     color: var(--title-text-color);
 }
 .team .team-card{
     color: var(--title-text-color);
 }
